<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<!-- console appender -->
	<appender name="consoleAppender"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
			</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>

	<!-- additivity를 false로 줘서 상위 상속받지 않는다 -->
	<logger name="kr.ac.hansung.cse" additivity="false">
		<level value="DEBUG" />
		<!-- <appender-ref ref="consoleAppender" /> -->
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="consoleAppender" />
	</root>
</configuration>